{
  "openapi": "3.0.0-RC1",
  "servers": [
    {
      "url": "https://api.temando.com/v1"
    }
  ],
  "info": {
    "title": "Temando Carriers API",
    "description": "Manipulate Carriers and the Merchants' connections to them.",
    "version": "0.0.1"
  },
  "tags": [
    {
      "name": "Carriers",
      "description": "Access to Carriers"
    }
  ],
  "paths": {
    "/carriers": {
      "get": {
        "summary": "Returns a list of integrations available for registration",
        "description": "Returns a list of integrations available for registration",
        "tags": [
          "Carriers"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for the returned array of records",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "exclusiveMinimum": false,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for the returned array of records.",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 99,
              "exclusiveMinimum": false,
              "exclusiveMaximum": false,
              "default": 10
            }
          },
          {
            "name": "filter[registered]",
            "in": "query",
            "description": "Filter by integrations already registered with.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierIntegrationsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Expired credentials.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The request schema did not meet the specification.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInSchema"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "description"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ErrorInSchema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "keyword": {
                      "type": "string"
                    },
                    "dataPath": {
                      "type": "string"
                    },
                    "schemaPath": {
                      "type": "string"
                    },
                    "params": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "format"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "keyword",
                    "dataPath",
                    "schemaPath",
                    "params",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "description",
              "code",
              "details"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateCredentialsRequest": {
        "description": "This describes the necessary information for a credentials creation request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "attributes"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "integrationId",
                  "configuration"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "The Temando Integration Id which identifies which integration the configuration belongs to."
                  },
                  "configuration": {
                    "type": "object",
                    "description": "The configuration object which contains the details used to interact with the carriers API."
                  }
                }
              }
            }
          }
        }
      },
      "CreateCredentialsResponse": {
        "description": "This describes the necessary information for a credentials creation response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "id",
              "type",
              "attributes"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "integrationId",
                  "configuration"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "The Temando Integration Id which identifies which integration the configuration belongs to."
                  },
                  "configuration": {
                    "type": "object",
                    "description": "The configuration object which contains the details used to interact with the carriers API."
                  }
                }
              }
            }
          }
        }
      },
      "UpdateCredentialsRequest": {
        "description": "This describes the necessary information for a credentials update request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "attributes"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "integrationId",
                  "configuration"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "The Temando Integration Id which identifies which integration the configuration belongs to."
                  },
                  "configuration": {
                    "type": "object",
                    "description": "The configuration object which contains the details used to interact with the carriers API."
                  }
                }
              }
            }
          }
        }
      },
      "UpdateCredentialsResponse": {
        "description": "This describes the necessary information for a credentials update response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "id",
              "type",
              "attributes"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "integrationId",
                  "configuration"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "The Temando Integration Id which identifies which integration the configuration belongs to."
                  },
                  "configuration": {
                    "type": "object",
                    "description": "The configuration object which contains the details used to interact with the carriers API."
                  }
                }
              }
            }
          }
        }
      },
      "ReadCredentialsResponse": {
        "description": "This describes the necessary information for a credentials read response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "id",
              "type",
              "attributes"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "integrationId",
                  "configuration"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "The Temando Integration Id which identifies which integration the configuration belongs to."
                  },
                  "configuration": {
                    "type": "object",
                    "description": "The configuration object which contains the details used to interact with the carriers API."
                  }
                }
              }
            }
          }
        }
      },
      "ListCredentialsResponse": {
        "description": "Schema for representing a credentials list response.",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "id",
                "type",
                "attributes"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "carrier-account-credentials"
                  ]
                },
                "attributes": {
                  "$ref": "#/components/schemas/Credentials"
                }
              }
            }
          }
        }
      },
      "Credentials": {
        "description": "This describes the necessary information for credentials",
        "type": "object",
        "properties": {
        }
      },
      "CarrierIntegration": {
        "description": "This describes a carrier-integration",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "enum": [
              "carrier-integration"
            ]
          },
          "attributes": {
            "type": "object",
            "required": [
              "name",
              "description",
              "logo",
              "services"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "logo": {
                "type": "string",
                "format": "uri"
              },
              "services": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CarrierIntegrationsListResponse": {
        "description": "A list of carrier-integrations.",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/CarrierIntegration"
            }
          }
        }
      },
      "CarrierIntegrationsReadResponse": {
        "description": "A carrier-integration.",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CarrierIntegration"
          }
        }
      },
      "CarrierRegistrationSupportResponse": {
        "description": "Schema for offline carrier registration response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "id",
              "type",
              "attributes"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "carrier-registration-support"
                ]
              },
              "attributes": {
                "properties": {
                  "ticketId": {
                    "type": "string",
                    "description": "The Jira ticket code of the created ticket."
                  },
                  "ticketLink": {
                    "type": "string",
                    "description": "A Link to the Jira ticket created from the request."
                  }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
    },
    "parameters": {
    },
    "examples": {
    },
    "requestBodies": {
    },
    "securitySchemes": {
    },
    "headers": {
    }
  }
}
