@import '../../base.scss';
@import '../../general.scss';

$headerHeight: 50px;
$headerBackground: #234f69;
$headerColor: lighten($headerBackground, 40%);
$headerBorder: darken($headerColor, 20%);

.oapi-demo {
  .oapi-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: $headerHeight;
    align-items: baseline;
    background: $headerBackground;
    z-index: 999;
    font-family: $body-font;

    padding: .4rem 1rem;

    border-bottom: 1px solid #222;
    box-shadow: 0 1px 20px #000;

    &, * {
      box-sizing: border-box;
    }

    h1 {
      margin: 0 .5rem 0 0;
      font-size: 1.5rem;
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 100;
    }

    small {
      color: $headerColor;
      font-style: italic;
    }
  }

  form {
    flex: 1;
    margin-left: 6.7rem;
    text-align: right;
  }

  small,
  label {
    font-size: smaller;
  }

  input {
    display: inline-block;
    width: 50%;
    padding: 0.5em;
    font-size: .9rem;
    border: 0;
    border-bottom: 1px solid $headerBorder;
    outline: 0;
    margin: 0 .5rem;
    color: $headerColor;
    background: none;

    &:focus,
    &:hover {
      transition: all .2s;
      color: #FFF;
      border-bottom-color: #FFF;
    }
  }

  button {
    background: none;
    border: 2px solid $headerBorder;
    border-radius: 3px;
    font-size: smaller;
    padding: .25rem .5rem;
    color: $headerColor;
    cursor: pointer;

    &:hover {
      transition: all .2s;
      color: #FFF;
      border-color: #FFF;
    }
  }

  .nav, .main {
    margin-top: $headerHeight;
  }
}
