@import '../../base.scss';

$headerHeight: 40px;
$headerVPadding: $headerHeight * 0.2;
$headerColor: rgba(255, 255, 255, 0.5);

.oapi-demo {
  .oapi-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $headerHeight;
    background: #234f69;
    z-index: 999;
    font-family: $body-font;
    text-align: right;

    padding: $headerVPadding 25px;

    border-bottom: 1px solid #222;
    box-shadow: 0 1px 20px #000;

    &, * {
      box-sizing: border-box;
    }

    input {
      height: $headerHeight - ($headerVPadding * 2);
      display: inline-block;
      width: 40%;
      min-width: 300px;
      padding: 0.5em 1em;
      border: 0;
      outline: 0;
      color: $headerColor;
      background: none;
      text-align: right;

      &:focus {
        color: #fff;
      }
    }

    button {
      background: none;
      border: 2px solid rgba(255, 255, 255, 0.25);
      border-radius: 3px;
      height: $headerHeight - ($headerVPadding * 2);
      padding: 2px 15px 6px;
      font-size: 80%;
      font-family: inherit;
      color: $headerColor;
      cursor: pointer;

      &:hover { color: #fff }
    }
  }

  .nav, .main {
    padding-top: $headerHeight;
  }
}
