{
  "presets" : [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": true
    }],
    "stage-3"
  ]
}
