{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE 10"
        ]
      },
      "exclude": [
        "transform-async-to-generator",
        "transform-regenerator"
      ],
      "useBuiltIns": true,
      "loose": true,
      "modules": false,
      "spec": true
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["fast-async", {
      "spec": true
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["babili", {
          "deadcode": false
        }]
      ]
    }
  }
}
