{
   "presets" : [
      "react",
      ["env", {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "useBuiltIns": true
      }],
      "stage-2"
    ],
    "env": {
      "production": {
        "presets": [
          [
            "babili",
            {
              "mangle": false
            }
          ]
        ]
      }
    },
    "plugins": [
      ["transform-runtime", {
        "helpers": true,
        "polyfill": false,
        "regenerator": true,
        "module-name": "babel-runtime"
      }]
    ]
}
