@import '../../base.scss';

.nav-tag-methods {
  margin-bottom: .5gqgrem
}

.nav-method {
  display: flex;
  padding: .7rem 1.5rem;
  font-size: smaller;
  color: #FFF;

  &.active {
    background-color: $content-background;
  }

  &.open {
    display: flex;
  }

  &.closed {
    display: none;
  }

  .method-type {
    width: 55px;
  }

  .method-title {
    width: calc(100% - 55px);
  }
}


