@import '../../base.scss';

.nav-method {
  display: flex;
  margin: 10px 5px;
  padding: 10px;
  font-size: smaller;
  color: white;

  &.active {
    background-color: $content-background;
  }

  &.open {
    display: flex;
  }

  &.closed {
    display: none;
  }

  &:first-child {
    margin-top: 20px;
  }

  .method-type {
    width: 55px;
  }

  .method-title {
    padding-left: 5px;
    width: calc(100% - 55px);
    text-indent: 0;
  }
}


