@import '../../base.scss';

.nav-method {
  display: block;
  margin: 10px 15px;
  padding: 10px;
  font-size: smaller;
  color: white;

  &.active {
    background-color: $content-background;
  }

  &.open {
    display: block;
  }

  &.closed {
    display: none;
  }

  &:first-child {
    margin-top: 20px;
  }
}

.method-title {
  padding-left: 5px;
  text-indent: 0;
}
