@import '../../base.scss';

.indicator {
  display: inline;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.indicator img {
  width: 15px;
}

.indicator--up img {
  transform: rotate(180deg);
}

.indicator--right img {
  transform: rotate(-90deg);
}
