@import '../../base.scss';

.indicator {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.indicator img {
  width: 20px;
}

.indicator--down img {
  transform: rotate(180deg);
}

.indicator--right img {
  transform: rotate(-90deg);
}
