@import '../../base.scss';

.nav {
  width: 20%;
  height: 100%;
  vertical-align: top;
  background-color: $navigation-background;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  overflow-y: auto;

  a {
    text-decoration: none;
  }

  .indicator {
    float: right;
    display: block;
    margin-top: 5px;
  }

  > div {
    margin: .5rem 0;
    padding: 1rem;

    & + div {
      border-top: 1px solid darken(#FFF, 80%);
    }
  }
}
