@import '../../base.scss';

.nav {
  width: 20%;
  height: 100%;
  vertical-align: top;
  background-color: $grey;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.nav-level1 {
  display: block;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
  &.active {
    background-color: $grey-dark;
  };
  text-transform: uppercase;
  color: $blue;
  font-weight: bold;
}

.nav-level2 {
  display: block;
  padding: 5px 20px;
  text-indent: 10px;
  cursor: pointer;
  &.active {
    background-color: $grey-dark;
  }
}
