@import '../../base.scss';

.nav {
  width: 20%;
  height: 100%;
  vertical-align: top;
  background-color: $grey;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  overflow-y: auto;
  a {
    text-decoration: none;
  }
  .indicator {
    float: right;
  }
}

.nav-level1 {
  display: block;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: $blue;
  font-weight: bold;
  &.active {
    background-color: $grey-dark;
  }
;
}

.nav-level2 {
  display: flex;
  padding: 5px 20px;
  text-indent: 10px;
  cursor: pointer;
  color: black;
  &.active {
    background-color: $grey-dark;
  }
}

.method-type {
}

.method-title {
  padding-left: 5px;
  //border: 1px solid red;
  text-indent: 0;
}

.nav-slide-toggle-appear,
.nav-slide-toggle-enter {
  max-height: 0;
}

.nav-slide-toggle-appear.nav-slide-toggle-appear-active,
.nav-slide-toggle-enter.nav-slide-toggle-enter-active {
  max-height: 1500px;
  transition: max-height 500ms ease-in;
}
