@import '../../base.scss';

.body-schema {
  width: 100%;
  border-spacing: 0;
  padding: 10px;
  box-sizing: border-box;
}

.body-schema--even {
  background-color: rgb(27, 37, 52);
}

.body-schema--odd {
  background-color: rgb(14, 24, 39);
}

.schema-slide-toggle-appear,
.schema-slide-toggle-enter {
  max-height: 0;
}

.schema-slide-toggle-appear.schema-slide-toggle-appear-active,
.schema-slide-toggle-enter.schema-slide-toggle-enter-active {
  max-height: 1500px;
  transition: max-height 500ms ease-in;
}
