.nav-tag {
  display: block;
  padding: 1rem 1rem .5rem;
  color: #FFF;

  &:hover {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  &.active {
    background-color: rgb(12, 18, 29);
  }

  &.is-open {
    display: block;
  }

  &.is-closed {
    display: none;
  }
}
