@import '../../base.scss';

.nav-tag {
  display: block;
  color: white;
  margin-top: 15px;

  &.active {
    background-color: rgb(12, 18, 29);
  }

  &.is-open {
    display: block;
  }

  &.is-closed {
    display: none;
  }
}
