@import '../../base.scss';

$tree-line-width: 1px;
$tree-border-style: $tree-line-width solid red;
$tree-border-erase: $tree-line-width solid white;
$line-height: 40px;
$cell-padding: 10px;

.property-name,
.property-info {
  vertical-align: middle;
  padding: $cell-padding;
}

.property-name {
  position: relative;
  span {
    display: inline-block;
    padding-left: $cell-padding;
    line-height: $line-height;
    vertical-align: middle;
  }
}

.property-info {
  width: 80%;
}

.property+.property {
  .property-info {
    border-top: 1px solid black;
  }
}

.property-required {
  margin-left: 10px;
  color: red;
}

.property--isclickable {
  cursor: pointer;
  font-weight: bold;
}

/* Tree */

.property-name {
  border-left: $tree-border-style;
  span::before {
    content: '';
    display: inline-block;
    width: $cell-padding;
    height: $tree-line-width + 6;
    vertical-align: middle;
    border-left: $tree-border-style;
  }
  span::after {
    content: '';
    border-top: $tree-border-style;
    width: 2 * $cell-padding;
    position: absolute;
    left: 0;
    top: ($line-height + 2 * $cell-padding) / 2 + 1;
  }
}

.property {
  &:only-of-type {
    .property-name {
      border: $tree-border-erase;
    }
  }
  &:first-child {
    .property-name::before {
      content: '';
      border-left: $tree-border-erase;
      position: absolute;
      top: 0;
      left: -$tree-line-width;
      height: ($line-height + 2 * $cell-padding) / 2 + 1;
    }
  }
  &:last-child, &.last {
    .property-name::after {
      content: '';
      border-left: $tree-border-erase;
      position: absolute;
      bottom: 0;
      left: -$tree-line-width;
      height: ($line-height + 2 * $cell-padding) / 2 - ($tree-line-width + 1);
    }
  }
}
