@import '../../base.scss';

$tree-line-width: 1px;
$tree-border-style: $tree-line-width solid red;
$line-height: 40px;
$cell-padding: 10px;

.property-name,
.property-info {
  vertical-align: middle;
  padding-right: $cell-padding;
}

.property-name {
  width: 1%;
  white-space: nowrap;
  position: relative;
  span {
    display: inline-block;
    padding-right: $cell-padding;
    line-height: $line-height;
    vertical-align: middle;
  }
}

.property-info {
  width: 75%;
}

.property+.property {
  .property-info {
    border-top: 1px solid $border-color;
  }
}

.property-required {
  margin-left: 10px;
  color: red;
}

.property--isclickable {
  cursor: pointer;
  font-weight: bold;
}

/* Tree */

.property+.property, .body-schema-subset+.property {
  .property-name::after {
    content: '';
    border-left: $tree-border-style;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

.body-schema-subset > td {
  border-left: $tree-border-style;
}

.property.last+.body-schema-subset > td {
  border-left: none;
}

.property-name {
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-top: $tree-border-style;
    width: 2 * $cell-padding;
  }
  span:first-child::before {
    content: '';
    display: inline-block;
    width: $cell-padding;
    height: $tree-line-width + 7;
    vertical-align: middle;
    border-left: $tree-border-style;
    position: relative;
    bottom: 2px;
  }
}

.property {
  &:first-child {
    .property-name::after {
      content: '';
      border-left: $tree-border-style;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 52%;
    }
  }
  &:last-child, &.last {
    .property-name::after {
      content: '';
      border-left: $tree-border-style;
      position: absolute;
      top: 0;
      left: 0;
      height: 49%;
    }
  }
  &:only-of-type {
    .property-name::after {
      border: none;
    }
  }
}

.property {
  &:first-child.last {
    .property-name::after {
      border: none;
    }
  }
}

.enum,
.default {
  display: inline-block;
  padding: 0 5px;
  margin: 2px 3px;
  border: 1px solid grey;
}
