@import '../../base.scss';

.page {
  width: 100%;
  height: 100%;
}

.page-main {
  margin-left: 20%;
  padding-left: 10px;
  width: 80%;
  box-sizing: border-box;
  background-color: $content-background;
  border: 1px solid $content-background;
}
