@import '../../base.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $content-background;

  padding: 15% 0 0;
  text-align: center;
  text-shadow: 1px 2px 2px rgba(#000, 0.5);

  h3 {
    font-style: italic;
    font-weight: 300;
  }

  img {
    width: 250px;
    height: 250px;
    opacity: .4
  }
}
