@import '../../base.scss';

$green: rgba(0, 170, 19, 0.08);
$green-dark: #00aa13;
$red: rgba(229, 57, 53, 0.06);
$red-dark: #e53935;


.response {
  margin-bottom: 5px;
  .body-content {
    margin: 10px 0 20px 20px;
  }
}

.response-info {
  padding: 10px;

  .indicator {
    margin-right: 10px;
  }
}

.is-clickable {
  cursor: pointer;
}

.response-code {
  padding-right: 20px;
}

.success {
  color: rgb(76, 204, 79);
}

.error {
  color: rgb(235, 15, 40);
}
