@import '../../base.scss';

$green: rgba(0, 170, 19, 0.08);
$green-dark: #00aa13;
$red: rgba(229, 57, 53, 0.06);
$red-dark: #e53935;


.response {
  margin-bottom: 5px;
  .body-content {
    margin: 10px 0 20px 0;
  }
}

.response-info {
  border: 1px solid $grey-dark;
  padding: 10px;

  .indicator {
    margin-right: 10px;
  }
}

.is-clickable {
  cursor: pointer;
}

.response-code {
  padding-right: 20px;
}

.success {
  color: $green-dark;
  background-color: $green;
}

.error {
  color: $red-dark;
  background-color: $red;
}
