@import '../../base.scss';

$green: rgba(0, 170, 19, 0.08);
$green-dark: #00aa13;
$red: rgba(229, 57, 53, 0.06);
$red-dark: #e53935;


.response {
  margin-bottom: 5px;
  .body-content {
    margin: 10px 0 20px 0;
  }
}

.response-info {
  cursor: pointer;
  border: 1px solid $grey-dark;
  padding: 10px;
  .indicator {
    margin-right: 10px;
  }
}

.response-code {
  padding-right: 20px;
}

.response-slide-toggle-appear,
.response-slide-toggle-enter {
  max-height: 0;
}

.response-slide-toggle-appear.response-slide-toggle-appear-active,
.response-slide-toggle-enter.response-slide-toggle-enter-active {
  max-height: 1500px;
  transition: max-height 500ms ease-in;
}

.success {
  color: $green-dark;
  background-color: $green;
}

.error {
  color: $red-dark;
  background-color: $red;
}
