/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
$body-font: 'Lato', helvetica, arial, sans-serif;

$navigation-background: rgb(19, 32, 51);
$content-background: rgb(14, 24, 39);
$border-color: rgba(255, 255, 255, 0.3);
$link-color: rgb(126, 211, 244);
