$body-font: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",helvetica,sans-serif;

$navigation-background: rgb(19, 32, 51);
$content-background: rgb(14, 24, 39);
$border-color: rgba(255, 255, 255, 0.3);
$link-color: rgb(126, 211, 244);
