/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
$body-font: 'Lato', helvetica, arial, sans-serif;

/* COLORS */

$grey: #FAFAFA;
$grey-dark: #d8d8d8;