@import './base.scss';

html, #app, .main {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font;
  line-height: 1.4;
  color: white;
}

ul, ol {
  margin: .5rem 0;
  padding: 0

  li {
    margin-left: 1.5rem;
  }
}

h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    transition: color .25s;
    color: lighten($link-color, 20%);
    text-decoration: underline;
  }
}

.inline-pairs {
  display: inline-flex;
  margin: 1em 0;
  padding: 0;
  border-bottom: 1px solid $border-color;
}

.inline-pairs dt,
.inline-pairs dd {
  margin: 0;
  padding: .5rem;
  border-top: 1px solid $border-color;
}

.inline-pairs dt {
  padding-right: 1.5rem;
  font-weight: bold;
}
